In [1]:
# Dependencies and Setup
import pandas as pd
import glob

In [2]:
# Read in all 2019 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2019*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2019 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [3]:
# Read in all 2020 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2020*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2020 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [4]:
# Read in all 2021 CSVs files of Citi Bike Data into one Dataframe

files = glob.glob("citibike_data\JC-2021*.csv")
dfs = [pd.read_csv(f, header=0, sep=",") for f in files]

bikedata2021 = pd.concat(dfs,ignore_index=True)

# Review file created
bikedata2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [5]:
# Combine the dfs with same layout

bikedata1920 = bikedata2019.append(bikedata2020, ignore_index=True)
bikedata1920.head()

C:\Users\Carol's PC\AppData\Local\Temp\ipykernel_18096\2342489606.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  bikedata1920 = bikedata2019.append(bikedata2020, ignore_index=True)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [6]:
print(bikedata1920.columns)
print(bikedata2021.columns)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [7]:
# Remove columns which aren't available across all the years and reorder the columns to match across different types

bikedata1920 = bikedata1920[['starttime', 'stoptime', 'start station name','start station id',
       'end station name', 'end station id', 'start station latitude','start station longitude',
       'end station latitude', 'end station longitude']]

#Rename columns to align across data sets
bikedata1920 = bikedata1920.rename(columns={'starttime':'started_at', 'stoptime':'ended_at', 'start station name':'start_station_name','start station id':'start_station_id',
       'end station name': 'end_station_name', 'end station id':'end_station_id','start station latitude':'start_lat','start station longitude':'start_lng',
       'end station latitude':'end_lat', 'end station longitude':'end_lng'})

bikedata2021 = bikedata2021[['started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng']]

# Merge the data together
all_bikedata = bikedata1920.append(bikedata2021, ignore_index=True)
all_bikedata.head()

C:\Users\Carol's PC\AppData\Local\Temp\ipykernel_18096\1909018345.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_bikedata = bikedata1920.append(bikedata2021, ignore_index=True)

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,Grove St PATH,3186,Heights Elevator,3198,40.719586,-74.043117,40.748716,-74.040443
1,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,Hilltop,3206,Astor Place,3280,40.731169,-74.057574,40.719282,-74.071262
2,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,Grove St PATH,3186,JC Medical Center,3205,40.719586,-74.043117,40.716540,-74.049638
3,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,Hilltop,3206,Leonard Gordon Park,3281,40.731169,-74.057574,40.745910,-74.057271
4,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,Hilltop,3206,Leonard Gordon Park,3281,40.731169,-74.057574,40.745910,-74.057271

In [9]:
# Create separate data frame with all bike stations

startstation = all_bikedata[[ 'start_station_name', 'start_station_id', 'start_lat', 'start_lng']]
startstation = startstation.rename(columns={'start_station_name':'station_name', 'start_station_id':'station_id', 'start_lat':'lat', 'start_lng':'lng'})
endstation = all_bikedata[[ 'end_station_name','end_station_id', 'end_lat', 'end_lng']]
endstation = endstation.rename(columns={'end_station_name':'station_name', 'end_station_id':'station_id', 'end_lat':'lat', 'end_lng':'lng'})
allstations = startstation.append(endstation, ignore_index=True)
allstations.head()

C:\Users\Carol's PC\AppData\Local\Temp\ipykernel_18096\1110282616.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  allstations = startstation.append(endstation, ignore_index=True)

    station_name station_id        lat        lng
0  Grove St PATH       3186  40.719586 -74.043117
1        Hilltop       3206  40.731169 -74.057574
2  Grove St PATH       3186  40.719586 -74.043117
3        Hilltop       3206  40.731169 -74.057574
4        Hilltop       3206  40.731169 -74.057574

In [22]:
# Remove all duplicates of the stations (excluding the ID as the ID numbers change in 2021)

allstations.drop_duplicates(subset=['station_name', 'lat', 'lng'], keep='first', inplace=True)

                       station_name station_id        lat        lng
0                     Grove St PATH       3186  40.719586 -74.043117
1                           Hilltop       3206  40.731169 -74.057574
6                   Jersey & 6th St       3270  40.725289 -74.045572
7                      Brunswick St       3209  40.724176 -74.050656
8                           Sip Ave       3195  40.730897 -74.063913
...                             ...        ...        ...        ...
1605012            W 44 St & 11 Ave    6756.05  40.762009 -73.996975
1605456  Grand Concourse & E 175 St    8303.06  40.846221 -73.909232
1611507    Albany St & Greenwich St    5145.02  40.709267 -74.013247
1617691     W 181 St & Riverside Dr    8381.04  40.851680 -73.941860
1651748         Broadway & W 155 St    8123.02  40.832990 -73.945920

[406 rows x 4 columns]

In [24]:
# Confirm output file and export data into a csv

all_bikedata.to_csv('output_data/all_bikedata.csv',header=True,index=False)
allstations.to_csv('output_data/allstations.csv',header=True,index=False)